################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/DesignTimeBuild/.dtbcache.v2
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/FileContentIndex/16ba3980-0284-4a49-a75f-7a75601e0276.vsidx
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/FileContentIndex/4161891c-ca17-47af-8811-b592976e8f41.vsidx
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/TestStore/0/000.testlog
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/TestStore/0/001.testlog
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/.futdcache.v2
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/.suo
/Project/LogisticBookingSystem/.vs/ProjectEvaluation/logisticbookingsystem.metadata.v7.bin
/Project/LogisticBookingSystem/.vs/ProjectEvaluation/logisticbookingsystem.projects.v7.bin
/Project/LogisticBookingSystem/bin/Debug/net6.0/LogisticBookingSystem.dll
/Project/LogisticBookingSystem/bin/Debug/net6.0/LogisticBookingSystem.pdb
/Project/LogisticBookingSystem/bin/Debug/net6.0/LogisticsBookingSystem.Core.dll
/Project/LogisticBookingSystem/bin/Debug/net6.0/LogisticsBookingSystem.Core.pdb
/Project/LogisticBookingSystem/bin/Debug/net6.0/LogisticsBookingSystem.Infrastructure.dll
/Project/LogisticBookingSystem/bin/Debug/net6.0/LogisticsBookingSystem.Infrastructure.pdb
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.csproj.AssemblyReference.cache
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.csproj.CoreCompileInputs.cache
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.csproj.FileListAbsolute.txt
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.dll
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.genruntimeconfig.cache
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.pdb
/Project/LogisticsBookingSystem.Core/bin/Debug/net6.0/LogisticsBookingSystem.Core.dll
/Project/LogisticsBookingSystem.Core/bin/Debug/net6.0/LogisticsBookingSystem.Core.pdb
/Project/LogisticsBookingSystem.Core/obj/Debug/net6.0/LogisticsBookingSystem.Core.csproj.FileListAbsolute.txt
/Project/LogisticsBookingSystem.Core/obj/Debug/net6.0/LogisticsBookingSystem.Core.dll
/Project/LogisticsBookingSystem.Core/obj/Debug/net6.0/LogisticsBookingSystem.Core.pdb
/Project/LogisticsBookingSystem.Infrastructure/bin/Debug/net6.0/LogisticsBookingSystem.Core.dll
/Project/LogisticsBookingSystem.Infrastructure/bin/Debug/net6.0/LogisticsBookingSystem.Core.pdb
/Project/LogisticsBookingSystem.Infrastructure/bin/Debug/net6.0/LogisticsBookingSystem.Infrastructure.dll
/Project/LogisticsBookingSystem.Infrastructure/bin/Debug/net6.0/LogisticsBookingSystem.Infrastructure.pdb
/Project/LogisticsBookingSystem.Infrastructure/obj/Debug/net6.0/LogisticsBookingSystem.Infrastructure.csproj.AssemblyReference.cache
/Project/LogisticsBookingSystem.Infrastructure/obj/Debug/net6.0/LogisticsBookingSystem.Infrastructure.csproj.CoreCompileInputs.cache
/Project/LogisticsBookingSystem.Infrastructure/obj/Debug/net6.0/LogisticsBookingSystem.Infrastructure.csproj.FileListAbsolute.txt
/Project/LogisticsBookingSystem.Infrastructure/obj/Debug/net6.0/LogisticsBookingSystem.Infrastructure.dll
/Project/LogisticsBookingSystem.Infrastructure/obj/Debug/net6.0/LogisticsBookingSystem.Infrastructure.pdb
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0/LogisticBookingSystem.dll
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0/LogisticBookingSystem.pdb
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0/LogisticsBookingSystem.Core.dll
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0/LogisticsBookingSystem.Core.pdb
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0/LogisticsBookingSystem.Infrastructure.dll
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0/LogisticsBookingSystem.Infrastructure.pdb
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0/LogisticsBookingSystem.Tests.dll
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0/LogisticsBookingSystem.Tests.pdb
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/ref/LogisticsBookingSystem.Tests.dll
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.csproj.AssemblyReference.cache
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.csproj.CoreCompileInputs.cache
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.csproj.FileListAbsolute.txt
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.dll
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.genruntimeconfig.cache
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.pdb
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/refint/LogisticsBookingSystem.Tests.dll
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/DesignTimeBuild/
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/FileContentIndex
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/TestStore/0
/Project/LogisticBookingSystem/bin/Debug/
/Project/LogisticsBookingSystem.Tests/obj/
/Project/LogisticBookingSystem/.vs/
/Project/LogisticBookingSystem.Application/obj
*.json
/Project/LogisticsBookingSystem.Core/bin/Debug/net6.0/LogisticsBookingSystem.Core.pdb
/Project/LogisticsBookingSystem.Core/bin/Debug/net6.0/LogisticsBookingSystem.Core.dll
/Project/LogisticsBookingSystem.Core/obj/Debug/net6.0/ref/LogisticsBookingSystem.Core.dll
/Project/LogisticsBookingSystem.Core/obj/LogisticsBookingSystem.Core.csproj.nuget.g.props
/Project/LogisticsBookingSystem.Core/obj/Debug/net6.0/LogisticsBookingSystem.Core.GeneratedMSBuildEditorConfig.editorconfig
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
/Project/LogisticsBookingSystem.Tests/obj/project.nuget.cache
/Project/LogisticsBookingSystem.Tests/obj/project.assets.json
/Project/LogisticsBookingSystem.Tests/obj/LogisticsBookingSystem.Tests.csproj.nuget.g.props
/Project/LogisticsBookingSystem.Tests/obj/LogisticsBookingSystem.Tests.csproj.nuget.dgspec.json
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.csproj.FileListAbsolute.txt
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.csproj.CoreCompileInputs.cache
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.csproj.AssemblyReference.cache
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/LogisticsBookingSystem.Tests.assets.cache
/Project/LogisticsBookingSystem.Infrastructure/obj/Debug/net6.0/ref/LogisticsBookingSystem.Infrastructure.dll
/Project/LogisticsBookingSystem.Infrastructure/obj/LogisticsBookingSystem.Infrastructure.csproj.nuget.g.targets
/Project/LogisticsBookingSystem.Infrastructure/obj/LogisticsBookingSystem.Infrastructure.csproj.nuget.g.props
/Project/LogisticsBookingSystem.Infrastructure/obj/Debug/net6.0/LogisticsBookingSystem.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
*.wsuo
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/DesignTimeBuild/.dtbcache.v2
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/FileContentIndex/8a92123c-de81-4e1e-b328-765133fb058e.vsidx
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/FileContentIndex/687c6643-db49-4f5b-a47d-9b4d52e653a5.vsidx
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/FileContentIndex/4161891c-ca17-47af-8811-b592976e8f41.vsidx
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/FileContentIndex/0858e1c8-1922-47d6-ba0e-026fd49ed833.vsidx
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/.futdcache.v2
/Project/LogisticBookingSystem/obj/project.nuget.cache
/Project/LogisticBookingSystem/obj/project.assets.json
/Project/LogisticBookingSystem/obj/LogisticBookingSystem.csproj.nuget.g.props
/Project/LogisticBookingSystem/obj/LogisticBookingSystem.csproj.nuget.dgspec.json
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.pdb
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.genruntimeconfig.cache
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.GeneratedMSBuildEditorConfig.editorconfig
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.dll
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.csproj.FileListAbsolute.txt
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.csproj.CoreCompileInputs.cache
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.csproj.AssemblyReference.cache
/Project/LogisticBookingSystem/obj/Debug/net6.0/LogisticBookingSystem.assets.cache
/Project/LogisticBookingSystem/obj/Debug/net6.0/apphost.exe
/Project/LogisticBookingSystem/obj/Debug/net6.0/refint/LogisticBookingSystem.dll
/Project/LogisticBookingSystem/obj/Debug/net6.0/ref/LogisticBookingSystem.dll
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/.suo
/Project/LogisticBookingSystem.Application/bin/Debug/net6.0
/Project/LogisticsBookingSystem.Core/obj
/Project/LogisticsBookingSystem.Infrastructure/obj
/Project/LogisticsBookingSystem.Tests/bin/Debug/net6.0
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/TestStore/0/testlog.manifest
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/TestStore/0/testlog.manifest
/Project/LogisticBookingSystem/.vs/LogisticBookingSystem/v17/TestStore/0/000.testlog
/Project/LogisticsBookingSystem.Tests/obj/Debug/net6.0/ref/LogisticsBookingSystem.Tests.dll
/Project/LogisticBookingSystem/bin/Debug/net6.0/appsettings.json
